<div class="col-md-6 offset-md-3">
    <h5> Register Employee: </h5>
    <form (ngSubmit) = "onSubmit()" #myform="ngForm">
    
        <div class="form-group">
            <label> First Name</label>
            <input type="text" class ="form-control" id = "firstName"
                [(ngModel)] = "employee.firstName" name = "firstName"
                required #fname="ngModel">
                <small *ngIf="fname.invalid && fname.touched">First Name is a required field</small>
        </div>
    
        <div class="form-group">
            <label> Last Name</label>
            <input type="text" class ="form-control" id = "lastName"
                [(ngModel)] = "employee.lastName" name = "lastName"
                required #lname="ngModel">
                <small *ngIf="lname.invalid && lname.touched">Last Name is a required field</small>
        </div>
    
        <div class="form-group">
            <label> Email Id</label>
            <input type="text" class ="form-control" id = "emailId"
                [(ngModel)] = "employee.emailId" name = "emailId"
                required email #email="ngModel">
                <small *ngIf="email.invalid && email.touched">Email is a required field</small>
        </div>

        <div class="form-group">
            <label> Phone No</label>
            <input type="number" class ="form-control" id = "phoneNo"
                [(ngModel)] = "employee.phoneNo" name = "phoneNo">
        </div>

        <div class="form-group">
            <label> Department</label>
            <input type="text" class ="form-control" id = "department"
                [(ngModel)] = "employee.department" name = "department">
        </div>
    
        <button class = "btn btn-success mt-2" type ="submit" [disabled]="!myform.valid">Submit</button>
    
    </form>
    </div> 
